# Упражнение 2

Теперь импортируем выборку прямо из интернета (без скачивания)

### Шаг 1. Импортируй все необходимые библиотеки

In [1]:
import pandas as pd
import numpy as nm

### Шаг 2. Импортируй данные [тут адрес](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Шаг 3. Присвой переменной под названием orders

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
orders = pd.read_csv(url, sep = '\t')

### Шаг 4. Отобрази первые 10 измерений (строк)

In [3]:
orders.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Шаг 5. Сколько всего измерений в данной выборке?

In [4]:
orders.shape[0]

4622

### Шаг 6. Сколько всего колонок в данной выборке?

In [5]:
orders.shape[1]

5

### Шаг 7. Отобрази названия всех колонок

In [6]:
orders.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Шаг 8. Какая индексация у данных?

In [7]:
orders.index

RangeIndex(start=0, stop=4622, step=1)

### Шаг 9. Какое блюдо чаще всего заказывали?

In [8]:
theMostFrequentItem = orders.groupby('item_name')
theMostFrequentItem = theMostFrequentItem.sum()
theMostFrequentItem = theMostFrequentItem.sort_values(by='quantity', ascending=False)
theMostFrequentItem.head()

                     order_id  quantity
item_name
Chicken Bowl           713926       761
Chicken Burrito        497303       591
Chips and Guacamole    449959       506
Steak Burrito          328437       386
Canned Soft Drink      304753       351

### Шаг 10. Сколько раз заказывали самое частозаказываемое блюдо?

In [10]:
theMostFrequentItem.values[0][1]

761

### Шаг 11. Какой заказ делали чаще всего?

In [11]:
theMostFrequentOrder = orders.groupby('order_id')
theMostFrequentOrder = theMostFrequentOrder.sum()
theMostFrequentOrder = theMostFrequentOrder.sort_values(by='quantity', ascending=False)
theMostFrequentOrder.head(1)
orders.values[1443][3]

'[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]'

### Шаг 12.  Сколько всего было заказов?

In [12]:
howManyOrders = orders.groupby('order_id')
howManyOrders = howManyOrders.sum()
howManyOrders.shape[0]

1834

### Шаг 13. Отобрази цены товаров в формате плавающей точки

#### Шаг 13.a. Отобрази формат колонки цен товаров

In [13]:
type(orders.at[1 , 'item_price'])

str

#### Шаг 13.b. Создай лямбда-функцию и измени тип цены за товар

In [14]:
for i in range(4622):
    orders.at[i, 'item_price']=float(orders.at[i, 'item_price'][1:])

#### Шаг 13.c. Проверь тип цены за товар

In [15]:
type(orders.at[1 , 'item_price'])

float

### Шаг 14. Какой доход за весь период в данной выборке?

In [16]:
res = 0.0;
for i in range(4622):
    res = res + orders.at[i, 'item_price']
res

34500.16000000046

### Шаг 15. Сколько всего заказов было сделано за весь период?

In [17]:
howManyOrders = orders.groupby('order_id')
howManyOrders = howManyOrders.sum()
howManyOrders.shape[0]

1834

### Шаг 16. Каков средний доход за заказ?

In [28]:
# Решение 1
res = 0.0;
for i in range(4622):
    res = res + orders.at[i, 'item_price']
res/howManyOrders.shape[0]

18.811428571428824

In [30]:
# Решение 2
orders['item_price'].mean()*4622/howManyOrders.shape[0]

18.811428571428824

### Шаг 17. Сколько различных товаров продано?

In [39]:
items = orders.groupby('item_name')
items = items.sum()
items.shape[0]

50